{
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 100,
    "tabWidth": 4,
    "vueIndentScriptAndStyle": false,
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "resources/css/app.css",
    "tailwindFunctions": ["cn", "cva", "clsx", "twMerge"],
    "overrides": [
        {
            "files": "*.{js,mjs,cjs,ts,mts,cts,vue,css,html,json,md}",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
